---
import { FaChevronRight } from 'react-icons/fa'

import Card from '@components/ui/cards/Card.astro'
import Chip from '@components/ui/chips/Chip.astro'
import type { ProjectModel } from '@libs/models/project'

interface Props {
  name: string
  slug: string
  description: string
  techStack: string[]
}

const { name, slug, description, techStack } = Astro.props
---

<a id={`project-card-${slug}`} href={`projects/${slug}`}>
  <Card additionalClass="h-full">
    <h4 class="flex items-center">
      {name}
      <FaChevronRight className="text-sm ml-2" />
    </h4>
    <p>{description}</p>
    <div class="flex flex-wrap gap-2 mt-4">
      {
        techStack.map((stack) => {
          return <Chip>{stack}</Chip>
        })
      }
    </div>
  </Card>
</a>
