---
import { Picture } from "astro:assets";

import PostList from "@components/features/blog/PostList.astro";
import RenderMarkdown from "@components/shared/RenderMarkdown.astro";
import ArticleLayout from "@layouts/ArticleLayout.astro";
import DetailLayout from "@layouts/DetailLayout.astro";
import { PostHandler } from "@libs/handlers";
import { convertDate } from "@libs/utils";

import type { BreadcrumbItems } from "@components/ui/breadcrumbs/breadcrumb.types";
import type { Post, Posts } from "@libs/business/entity";

interface Props {
  slug: string;
  post: Post;
  otherPosts: Posts;
}

export async function getStaticPaths() {
  const posts = await PostHandler.getPosts();
  if (!posts) throw Astro.redirect("/500");

  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;

const post = await PostHandler.getPost(slug);
if (!post) throw Astro.redirect("/404");

const otherPosts =
  (await PostHandler.getOtherPosts(post.categorySlug, slug)) ?? [];

const breadcrumbItems: BreadcrumbItems = [
  { title: "Home", path: "/" },
  { title: "Blog", path: "/blog" },
];

const convertedDate = convertDate(post.date, true);
---

<DetailLayout
  title={`${post.title} | Blog`}
  excerpt={post.excerpt}
  ogImage={post.coverImage}
  breadcrumbItems={breadcrumbItems}
>
  <h1 class="mb-4 text-center md:text-left md:text-5xl md:leading-none">
    {post.title}
  </h1>
  <div class="mb-8 text-center md:text-start">
    <strong>{post.category}</strong> | {convertedDate}
  </div>
  <div class="mb-8">
    <figure>
      <Picture
        class="mb-6 rounded-2xl object-cover"
        src={post.coverImage}
        alt={`Cover for ${post.title}`}
        height="390"
        width="711"
        loading="eager"
      />
      <figcaption>{post.coverCaption}</figcaption>
    </figure>
  </div>
  <ArticleLayout>
    <RenderMarkdown markdownSource={post.content} />
  </ArticleLayout>
  {
    otherPosts.length > 0 && (
      <div slot="otherDetail">
        <h2 class="mb-8">More from {post.category}</h2>
        <PostList posts={otherPosts} />
      </div>
    )
  }
</DetailLayout>
