---
import BlogHeader from "@components/domain/blog/detail/BlogHeader.astro";
import OtherPost from "@components/domain/blog/detail/OtherPost.astro";
import RenderMarkdown from "@components/shared/RenderMarkdown.astro";
import DetailLayout from "@layouts/DetailLayout.astro";
import ProseLayout from "@layouts/ProseLayout.astro";
import { PostHandler } from "@libs/handlers";

import type { BreadcrumbItems } from "@components/ui/breadcrumbs/breadcrumb.types";
import type { Post, Posts } from "@libs/business/entity";

interface Props {
  slug: string;
  post: Post;
  otherPosts: Posts;
}

export async function getStaticPaths() {
  const posts = await PostHandler.getPosts();
  if (!posts) throw Astro.redirect("/500");

  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;

const post = await PostHandler.getPost(slug);
if (!post) throw Astro.redirect("/404");

const otherPosts = await PostHandler.getOtherPosts(post.categorySlug, slug);

const breadcrumbItems: BreadcrumbItems = [
  { title: "Home", path: "/" },
  { title: "Blog", path: "/blog" },
];
---

<DetailLayout
  title={`${post.title} | Blog`}
  excerpt={post.excerpt}
  ogImage={post.coverImage}
  breadcrumbItems={breadcrumbItems}
>
  <BlogHeader post={post} />
  <ProseLayout>
    <RenderMarkdown markdownSource={post.content} />
  </ProseLayout>
  {
    otherPosts && (
      <div slot="otherDetail">
        <OtherPost post={post} otherPosts={otherPosts} />
      </div>
    )
  }
</DetailLayout>
