---
import AboutMe from '@components/about/AboutMe.astro'
import Experience from '@components/about/Experience.astro'
import Resume from '@components/about/Resume.astro'
import SocialContact from '@components/about/SocialContact.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { ConstantController } from '@libs/controllers/constant'
import { ExperienceController } from '@libs/controllers/experience'

const constants = await ConstantController.getConstants()
const experiences = await ExperienceController.getExperiences()

const aboutImageValue = constants
  ? constants.filter((constant) => constant.slug === 'about-image')
  : [{ stringValue: '' }]
const aboutImage = aboutImageValue[0].stringValue

const aboutMeValue = constants
  ? constants.filter((constant) => constant.slug === 'about-me')
  : [{ markdownValue: '' }]
const aboutMeSource = aboutMeValue[0].markdownValue

const resumeUrlValue = constants
  ? constants.filter((constant) => constant.slug === 'resume-url')
  : [{ stringValue: '', updatedAt: '' }]
const resumeUrl = resumeUrlValue[0]
---

<BaseLayout
  title="About"
  description="Get to know me better"
  currentPath="/about"
>
  <div class="mx-auto max-w-3xl space-y-12">
    <AboutMe aboutImage={aboutImage} aboutMeSource={aboutMeSource} />
    {experiences && <Experience experiences={experiences} />}
    <Resume resumeUrl={resumeUrl.stringValue} updatedAt={resumeUrl.updatedAt} />
    <SocialContact />
  </div>
</BaseLayout>
