---
import HighlightedPosts from '@components/blog/HighlightedPosts.astro'
import RecentExperience from '@components/experience/RecentExperience.astro'
import HeroSection from '@components/home/HeroSection.astro'
import FeaturedProject from '@components/project/FeaturedProject.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { ExperienceController } from '@libs/controllers/experience'
import { PostController } from '@libs/controllers/post'
import { ProjectController } from '@libs/controllers/project'
import { SiteContentController } from '@libs/controllers/siteContent.ts'
import { getSiteContent } from '@libs/utils/siteContent.ts'

const [constants, recentExperiences, featuredProjects, highlightedPosts] = await Promise.all([
  SiteContentController.getConstants(),
  ExperienceController.getRecentExperiences(),
  ProjectController.getFeaturedProjects(),
  PostController.getHighlightedPosts(),
])

const description = getSiteContent(constants, 'home-description')
const resumeUrl = getSiteContent(constants, 'resume-url', true).value
---

<BaseLayout additionalClass="space-y-16">
  <HeroSection description={description} resumeUrl={resumeUrl} />
  <div class="grid grid-cols-1 gap-8 xl:grid-cols-2">
    {recentExperiences && <RecentExperience recentExperiences={recentExperiences} />}
    {featuredProjects && <FeaturedProject featuredProjects={featuredProjects} />}
  </div>
  {highlightedPosts && <HighlightedPosts highlightedPosts={highlightedPosts} />}
</BaseLayout>
