---
import ProjectHeader from "@components/domain/project/detail/ProjectHeader.astro";
import ProjectOverview from "@components/domain/project/detail/ProjectOverview.astro";
import ProjectResponsibility from "@components/domain/project/detail/ProjectResponsibility.astro";
import ProjectRole from "@components/domain/project/detail/ProjectRole.astro";
import ProjectTechStack from "@components/domain/project/detail/ProjectTechStack.astro";
import DetailLayout from "@layouts/DetailLayout.astro";
import { ProjectHandler } from "@libs/handlers/project";

import type { BreadcrumbItems } from "@components/ui/breadcrumbs/breadcrumb.types";

export async function getStaticPaths() {
  const projects = await ProjectHandler.getProjects();
  if (!projects) throw Astro.redirect("/500");

  return projects.map((project) => ({
    params: { slug: project.slug },
  }));
}

const { slug } = Astro.params;

const project = await ProjectHandler.getProject(slug);
if (!project) throw Astro.redirect("/404");

const breadcrumbItems: BreadcrumbItems = [
  { title: "Home", path: "/" },
  { title: "Projects", path: "/projects" },
];
---

<DetailLayout
  title={`${project.name} | Projects`}
  excerpt={project.excerpt}
  breadcrumbItems={breadcrumbItems}
>
  <ProjectHeader project={project} />
  <div class="space-y-8">
    {project.overview && <ProjectOverview overview={project.overview} />}
    {project.role && <ProjectRole role={project.role} />}
    {
      project.responsibilities && project.responsibilities.length > 0 && (
        <ProjectResponsibility responsibilities={project.responsibilities} />
      )
    }
    {project.techStack && <ProjectTechStack techStack={project.techStack} />}
  </div>
</DetailLayout>
