---
import type { Experience } from '@libs/application/dtos/experience'
import convertDate from '@libs/utils/convertDate'

import { Image } from 'astro:assets'

interface Props {
  experience: Experience
  withResponsibility?: boolean
}

const { experience, withResponsibility = false } = Astro.props
---

<div>
  <div class="flex flex-col gap-1 md:flex-row md:items-center md:gap-4">
    <div class="h-fit w-fit rounded-2xl bg-secondary p-2 dark:bg-white">
      <Image
        class="h-10 w-10 object-scale-down"
        src={experience.companyLogo}
        alt={experience.company}
        height="40"
        width="40"
      />
    </div>
    <div>
      <h4>{experience.title}</h4>
      <p>
        <strong>{experience.company}</strong>, {experience.employmentType}
      </p>
      <div class="flex space-x-1">
        <span>{convertDate(experience.startingDate)}</span>
        <span>-</span>
        {experience.endDate ? <span>{convertDate(experience.endDate)}</span> : <span>Present</span>}
      </div>
    </div>
  </div>
  {
    withResponsibility && experience.responsibilities && (
      <div class="mt-2">
        <p>Responsible for :</p>
        <ul class="ml-5 list-disc">
          {experience.responsibilities.map((responsibility) => {
            return <li>{responsibility}</li>
          })}
        </ul>
      </div>
    )
  }
</div>
