---
import Breadcrumb from '@components/ui/breadcrumbs/Breadcrumb.astro'
import BaseLayout from './BaseLayout.astro'
import type { BreadcrumbItems } from '@components/ui/breadcrumbs/breadcrumb.types.ts'

interface Props {
  title: string
  description: string
  currentPath: string
  ogImage: string
  breadcrumbItems: BreadcrumbItems
  additionalClass?: string
}

const {
  title,
  description,
  currentPath,
  ogImage,
  breadcrumbItems,
  additionalClass,
} = Astro.props
---

<BaseLayout
  title={title}
  description={description}
  currentPath={`/blog/${currentPath}`}
  ogImage={ogImage}
  additionalClass={additionalClass}
>
  <section class="mx-auto mb-24 max-w-3xl">
    <Breadcrumb items={breadcrumbItems} additionalClass="mb-2" />
    <slot />
  </section>
  <section class="mb-32">
    <slot name="otherDetail" />
  </section>
</BaseLayout>
